# Visual Studio user-specific files
*.user
*.rsuser
*.suo

# VS config and cache
.vs/

# Build output
bin/
obj/

# Publish output
*/wwwroot/

# Logs
*.log

# User secrets / local configs (if any)
appsettings.Development.json
